<div class="container-fluid about">
    <div class="row">
        <div class="col-md-12">
            <h1>What is Kappa Sigma?</h1>
        </div>
        <div class="col-md-12">
            <p>If you’re reading this I would like to commend you on your interest in our beloved Fraternity, Kappa Sigma. We as, Kappa Sigmas, pride ourselves in making our brothers and the community around us better by following our Four Pillars: Fellowship, Leadership, Scholarship, and Service.</p>
            <p>The first Kappa Sigma chapter in the United States was founded in 1869 at the University of Virginia in Charlottesville. Since then, hundreds of chapters have been started at universities and colleges across the United States and Canada. Currently Kappa Sigma is the largest college social fraternity in the world with over 282,000 initiates and over 320 active Kappa Sigma chapters in the United States and Canada.</p>
            <p>The Delta-Psi Chapter of Kappa Sigma here at Michigan State University was founded in 1937 from the former members of the Hermian Literary society.</p>
            <p>This will be our 80th year on campus, and from those 80 years, there are many stories of our chapter history from our vast alumni base just waiting to be shared. Apart from the stories of the house and brotherhood, last year, each brother put in at least 35 volunteer hours, raised at least $60 for philanthropic causes, and strived for a GPA above the all-men’s average at MSU.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Fellowship</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Leadership</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Scholarship</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>

    </div>
</div>
