<div class="container-fluid about">
    <div class="row">
        <div class="col-md-12">
            <h1>What is Kappa Sigma?</h1>
            <hr/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Fellowship</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Leadership</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Scholarship</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>
        <div class="col-md-6">
            <h2>Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a arcu neque. Vestibulum posuere sem id dolor lacinia, ac accumsan nibh pellentesque. Aenean in quam vestibulum est ultricies finibus. Mauris lectus lacus, venenatis eget dui sit amet, eleifend pulvinar ante. Phasellus vel blandit augue. Morbi in turpis euismod, ornare nulla vel, egestas odio. Cras at nisi non ipsum cursus ullamcorper. Pellentesque convallis posuere dui, ac porta tellus sollicitudin sit amet. Sed mauris orci, venenatis ac velit eget, sodales venenatis dui. Nunc ultrices et metus nec placerat. Donec ultricies sodales nisi, sed egestas risus posuere eget.</p>
        </div>

    </div>
</div>
