<div class="footer">
    <div class="links">
        <ul>
            <li><a href="http://kappasigma.org/contact/" target="_blank">Head Quarters</a></li>
            <li><a href="http://kappasigma.org/past-editions/" target="_blank">The Cadeuceus</a></li>
            <li><a href="https://kappasigma.org/#" target="_blank">Newsletters</a></li>
            <li><a href="http://kappasigma.org/who-we-are/" target="_blank">About Us</a></li>
            <li><a href="https://msu.edu/~kappasig/about_us.html" target="_blank">FAQ</a></li>
        </ul>
    </div>
    <div class="letters">
        &Kappa; &Sigma;
    </div>
</div>
