<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 links">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/msukappasigma/" target='_blank'>Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/MSUKappaSigma" target='_blank'>Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/msu_kappasigma/" target='_blank'>Instagram</a>
                    </li>
                    <li>
                        <a href="https://kappasigma.org/" target='_blank'>National Kappa Sigma</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <img class="responsive letters" src="https://upload.wikimedia.org/wikipedia/en/9/90/Official_Kappa_Sigma_Fraternity_Crest_2.png" alt="Crest">
            </div>
        </div>
    </div>
</footer>
