<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/">&Kappa; &Sigma;</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" alt="Hello" width="1em" aria-hidden="true">-->
    <!--[><span class="navbar-toggler-icon"></span><]-->
    <!--[><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><]-->
  <!--</button>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    &#x25BC;
    <!--<span class="navbar-toggler-icon"></span>-->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://photos.google.com/share/AF1QipNbvV-HyxYCX04JC9WhWqZKJIbhSZMC1w1nCUAlcQDmoG3cN8Vqonvw79i6O5tx-w?key=ek1KZUZZMmZiT3JPdk80eUxJTmZobDN2ZGgtQW53" target='_blank'>Gallery<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about.html">About<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

